.countdown-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.countdown-content {
  width: 1080px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.countdown-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 111px;
  text-shadow: 8px 5px 10px rgba(0,0,0,1);
  color: white;
}
.timer-text {
  font-family: 'Segoe UI Black', sans-serif;
}
.timer-count {
  font-family: 'Impact', monospace;
  width: 350px;
}
